.rollarea{
	position: relative;
	width: 150px;
	height: 150px;
	left: 58.5%;
	top: 46%;
}
.dice{
	background: url('../images/dice.png') no-repeat;
	background-size: 80%;
	width: 60%;
	height: 43%;
	cursor: pointer;
}
.dice-1{ background-position: -5px -4px;}
.dice-2{ background-position: -5px -78px;}
.dice-3{ background-position: -5px -152px;}
.dice-4{ background-position: -5px -226px;}
.dice-5{ background-position: -5px -307px;}
.dice-6{ background-position: -5px -387px;}
.dice-t{ background-position: 2px -468px;}
.dice-s{ background-position: 2px -545px;}
.dice-e{ background-position: 2px -630px;}
.map_grid > img{
	position: absolute;
	left: 0;
}
.bear{
	width: 70px;
	height: 70px;
	background: url(../images/bear.png) no-repeat;
	-webkit-animation: bearwalk 0.5s steps(2) infinite alternate;
	-moz-animation: bearwalk 0.5s steps(2) infinite alternate;
	-o-animation: bearwalk 0.5s steps(2) infinite alternate;
    animation: bearwalk 0.5s steps(2) infinite alternate;
}
@keyframes bearwalk{
	from{
		background-position: -70px;
	}
	to{
		background-position: 70px;
	}
	
}
/*lightbox*/
.drop{
	position: fixed;
	background: hsla(0, 0%, 0%, 0.7);
	width: 100%;
	height: 100%;
	top: 0; left: 0;
}
.center{
	position: absolute;
	top: 20%;
	left: 30%;
}
.table{
	display: flex;
	width: 100%;
}
.td{
	flex-flow: row wrap;
	flex: 1;
}
#event > .pop_close{
	top: -20px;
	right: 0;
}
.pop_bg1, .pop_bg2{
	position: absolute;
}